{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  {% block styles %}{% endblock styles %}

  <script src="{% static 'main.js' %}" defer></script>
  {% block scripts %}{% endblock %}

  <body>
    <header>
      <div class="container header__menu">
        {% include 'layouts/partials/logo.html' %}
        {% include 'layouts/partials/menu.html' %}
      </div>
    </header>

        {% block content %}{% endblock %}

  </body>
</html>
