{% extends "./layouts/base.html" %} 
{% load static %}

{% block title %}
Portada
{% endblock  %}

{% block content%}

<section class="section">
  <div class="container profile">
    <figure class="profile__picture">
      <img src="{% static 'img/profile.png' %}" alt="Foto personal" class="profile__img">
    </figure>
    <div class="profile__text">
      <h1 class="profile__title">
        adderlin gomez
      </h1>
      <ul class="list">
        <li class="list__item list__item--border">
          <p class="paragraph"><b>Celular: </b>3113806459</p>
        </li>
        <li class="list__item list__item--border">
          <p class="paragraph"><b>Corre electrónico: </b>kantuspro007@outlook.com</p>
        </li>
        <li class="list__item list__item--border">
          <p class="paragraph"><b>Edad: </b>29 años</p>
        </li>
        <li class="list__item list__item--border">
          <p class="paragraph"><b>Profesión: </b>aprendiz sena</p>
        </li>
      </ul>
    </div>
  </div>
</section>

{%endblock %}
