{% extends "./layouts/base.html" %}
{% load static %}

{% block title %}
  Portafolio
{% endblock  %}

{% block content%}

<main class="portfolio">
    <h2 class="portfolio__title">Mi portafolio</h2>
    <section class="portfolio__container">
      <a href="{% url 'contacto' %}" class="portfolio__link">
        <img src="{% static 'img/portfolio/image1.jpg' %}" class="portfolio__img">
      </a>
      <a href="{% url 'contacto' %}" class="portfolio__link">
        <img src="{% static 'img/portfolio/image2.jpg' %}" class="portfolio__img">
      </a>
      <a href="{% url 'contacto' %}" class="portfolio__link">
        <img src="{% static 'img/portfolio/image3.jpg' %}" class="portfolio__img">
      </a>
      <a href="{% url 'contacto' %}" class="portfolio__link">
        <img src="{% static 'img/portfolio/image4.jpg' %}" class="portfolio__img">
      </a>
      <a href="{% url 'contacto' %}" class="portfolio__link">
        <img src="{% static 'img/portfolio/image5.jpg' %}" class="portfolio__img">
      </a>
      <a href="{% url 'contacto' %}" class="portfolio__link">
        <img src="{% static 'img/portfolio/image6.jpg' %}" class="portfolio__img">
      </a>
    </section>
</main>

{% endblock %}